@model NorthwindSampleDb.Models.Territories

@{
	ViewData["Title"] = "Delete - Territories";
	Layout="~/Pages/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <h1>Territories - Delete</h1>
    <h3>Are you sure you want to delete this?</h3>

        <div class="display-label">TerritoryID</div>
        <div class="display-field">@Html.DisplayFor(m => m.TerritoryID)</div>
        <div class="display-label">TerritoryDescription</div>
        <div class="display-field">@Html.DisplayFor(m => m.TerritoryDescription)</div>
        <div class="display-label">RegionID</div>
        <div class="display-field">@Html.DisplayFor(m => m.RegionID)</div>
    <p>
        <input type="submit" value="Delete" />
    </p>

    <p>
    @Html.ActionLink("Back to List", "Index")
    </p>
}