@model NorthwindSampleDb.Models.Shippers

@{
	ViewData["Title"] = "Delete - Shippers";
	Layout="~/Pages/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <h1>Shippers - Delete</h1>
    <h3>Are you sure you want to delete this?</h3>

        <div class="display-label">ShipperId</div>
        <div class="display-field">@Html.DisplayFor(m => m.ShipperId)</div>
        <div class="display-label">CompanyName</div>
        <div class="display-field">@Html.DisplayFor(m => m.CompanyName)</div>
        <div class="display-label">Phone</div>
        <div class="display-field">@Html.DisplayFor(m => m.Phone)</div>
    <p>
        <input type="submit" value="Delete" />
    </p>

    <p>
    @Html.ActionLink("Back to List", "Index")
    </p>
}